.page-header_logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.web {
  color: var(--accent-color);
}

.studio {
  color: var(--title-text-color);
}

.footer_logo {
  display: inline-block;
  margin-top: 0;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.ft-studio {
  color: var(--white-color);
}
