h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  color: var(--primery-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.button {
  font-family: inherit;
}
